{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "plugin:@stencil/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/no-unknown-property": 0,
    "react/jsx-no-bind": 0,
    "import/prefer-default-export": 0
  }
}
